@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@700&family=Cairo&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #eee;
   font-family: 'Courier New', Courier, monospace;
}

ul{
    background-color: rgb(46, 45, 45);
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

ul li {
    display: inline-block;
    margin-left: 20px;
}

ul li :hover{
    background-color: red;
}

ul li a {
    color: white;
    text-decoration: none;
}

.main-image{
    height: 350px;
    background-image: url("../image/m5.avif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


.our-features{
    padding-top: 50px;
    width: 80%;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
}

.our-features h1{
    color: red;
}

.features{
    display: flex;
    margin-top: 25px;
}
.features .feature{
    text-align: center;
    background-color: white;
    width: 30%;
    margin: auto;
    padding: 15px;
    height: 200px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

.feature:hover{
    box-shadow: 3px 3px 10px rgb(173, 18, 18) ;
    transform: translateX(3px);
}

.features .feature i{
    padding: 15px;
    font-size: 30px;
    background-color: red;
    color: white;
    border-radius: 50%;

}

.features .feature h3{
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}


/*start content style*/

.content{
    width: 80%;
    padding: 50px;
    margin: auto;
    text-align: center;
    background-color: white;
}

.content h1{
    color: red;
}

.content p{
    font-size: 20px;
    margin-bottom: 25px;
    text-align: auto;
    margin: 70px;
}

.content img{
    width: 300px;
    background-size: cover ;
    background-repeat: no-repeat;
    background-position: center center;
}


.contact-us{
    margin-top: 100px;
    margin-bottom: 100px;
}

.contact-form{
    width: 700px;
    margin: auto;
    padding: 40px ;
    text-align: center;
    border-radius: 7px;
}

.input-form{
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
}

.input-form input{
    width: 400px;
    height: 30px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: whitesmoke;
}

textarea{
    width: 400px;
    height: 200px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: whitesmoke;
    margin-right: 20px;
}

.btn-send{
    background-color: whitesmoke;
    width: 200px;
    height: 50px;
    border: 1px solid rgb(114, 112, 112);
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    display: flex;
}

.k{
    color: red;
    background-color: green;
}

.footer i{
    padding: 15px;
    font-size: 30px;
    background-color: blue;
    color: white;
    border-radius: 50%;
    
}
.vovo{
    display: flex; 
    justify-content: center;
    margin-top: 10px;
}

.vovo a{
    color: #eee;
    margin-block-start: auto;
}


.check{
    color: #eee;
    background-color: black;
    margin: 200px;
    text-align: center;
}

.save{
    background-color: bisque;
    color: black;
}

.table{
    background-color: beige;
    color: rgb(8, 8, 8);
    text-align: center;
    justify-content: center;
    margin-left: 35%;
    margin-bottom: 300px;
    border: 1px solid red;
    padding: 10px;
    border-radius: 30px;
}